*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  /* изменения в коде */
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

/* изменения в коде */

.content {
  display: flex;
  width: 1140px;
  height: 534px;
  gap: 30px;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.search-form {
  display: flex;
  gap: 40px;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: fit-content;
  gap: 5px;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  width: 300px;
  height: 100%;
}

.content__list-container {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow-y: scroll;
  gap: 30px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.result {
  width: 711px;
  height: 456px;
  margin-bottom: 10px;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: top right;
}

.title {
  margin: 0 140px 21px 0;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;

  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  color: white;
  text-decoration: none;
}

.result__video-container {
  position: relative;
  width: 710px;
  /* border: 1px solid white; */
  margin: 6px 0 0;
}

.result__video {
  width: 100%;
  object-fit: cover;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-description-container {
  width: 196px;
  flex-grow: 1;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  /* margin-bottom: 1px; */
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-weight: 400;
  line-height: 16.2px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  margin-top: 3px;
}

.search-form__fieldset {
  border: none;
  min-height: 54px;
}

.search-form__textfield {
  background-color: inherit;
  width: 225px;
  margin-top: 5px;
  border-block-start: 1px solid white;
  border-block-end: 1px solid white;
  border-inline-start: none;
  border-inline-end: none;
  font-family: 'Fira Sans Condensed', sens-serif;
  font-size: 18px;
  color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

:focus-visible {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  padding: 1px;
  border: 1px solid white;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__checkbox-list > .search-form__label:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button {
  background-color: transparent;
  color: white;
  min-width: 194px;
  min-height: 34px;
  border: 1px solid white;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
}

.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
}

.more-button {
  width: 100%;
  margin-bottom: 1px;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid white;
  outline-offset: -3px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__list-item {
  padding: 0 3px;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
  outline-offset: 2px;
}
